body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul, ol {
    list-style-type: none;
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    display: block;
    min-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   }

  .header-nav {
    display: flex;
      }
    

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding-top: 25px;
        padding-bottom: 26px;
       }

.logo-part {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        padding-top: 25px;
        padding-bottom: 26px;
        margin-right: 76px;
}
.nav-list{
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
        }


.nav-item{}
 
 .nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        }

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link:active {
    text-decoration: underline;
    color: #404bbf;
}

 .menu{
    display: flex;
           }
.contacts{
         font-style: normal;
         display: flex;
}
.contacts-list{
display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.contacts-item{
    font-style: normal;
}
.contacts-link{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
         }
   
.contacts-link:hover, .contacts-link:focus {
    color: #404bbf;
}
.title {
       background-color: #2e2f42;
}

.title-name {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
}

.title-content {
    display: block;
        padding: 188px 331px 292px 331px;
         justify-content: center;
}

.title-btn {
    background: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    justify-content: center;  }

     
.title-btn:hover, .title-btn:focus{
    background-color: #404bbf;
}

.benefits {
    display: flex;
    width: calc(100% - 24px * 3) / 4;
    }
.benefits-list {
    display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
           align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 8px;
}

.benefits-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
        }

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
    background: #f4f4fd;
}

.team-name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        text-transform: capitalize;
        padding-top: 120px;
}

.team-menu{
    display: flex;
    padding-top: 72px;
    padding-bottom: 120px;
    width: calc(100% - 24px * 3) / 4;
}
.team-img {
    background-color: #FFFFFF;
}

.team-form{
border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}
.team-photo {
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 32px;
}

.team-img-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-right: 49px;
    padding-left: 49px;
    margin-bottom: 8px;
}

.team-img-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-right: 52px;
    padding-left: 52px;
    margin-bottom: 32px;    
   }

        .portfolio {}
    
        .portfolio-name {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #2e2f42;
            text-transform: capitalize;
            text-align: center;
            padding-top: 120px;
            padding-bottom: 72px;
        }
    .portfolio-menu{
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 24px * 2) / 3;
      gap: 24px 48px; 
              }
        .portfolio-list {}

        .portfolio-img {}
    
        .portfolio-img-name {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }
    
        .portfolio-img-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    
           .footer {
            background-color: #2e2f42;
           }
        
           .footer-logo {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #f4f4fd;}
    
           .footer-text {
            font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #f4f4fd;
           }